<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="neolant" value="https://pkgs.dev.azure.com/neolantservice4/644f90da-893b-4e55-86c6-90b8ec342f2d/_packaging/NS_API_Feed/nuget/v3/index.json" />	
	<add key="CheckPackage" value="https://pkgs.dev.azure.com/KaskadPDM/KaskadPDM.F2/_packaging/CheckPackage/nuget/v3/index.json" />
    <add key="NeosyntezApiClient.Helpers" value="https://pkgs.dev.azure.com/KaskadPDM/_packaging/NeosyntezApiClient.Helpers/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>